<h1>
    <%= message %>
</h1>
<p>Order ID: <%= orderId %>
</p>
<p>Amount: <%= amount %> VND</p>
<p>Transaction No: <%= transactionNo %>
</p>
<p>Bank Code: <%= bankCode %>
</p>
<p>Card Type: <%= cardType %>
</p>
<p>Payment Date: <%= payDate %>
</p>
<a href="/campgrounds">Trang chủ</a>